.topContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacing);
    margin: 0 3rem;
    margin-bottom: var(--spacing);
}   

.addBtn{
    padding: 0.8rem 1rem;
    text-align: center;
    border-radius: 5px;
    border: none;
    color: white;
    box-shadow: 2px 1px 9px var(--darkest-blue);
    background-color: var(--darkest-blue);
    
}

.searchInput {
    border: 1px solid var(--darkest-blue);
    width: 20rem;
}


.formContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 200;
}

.form{
    width: 40%;
}